* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.current__link {
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 20px;
}

.header__link {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px;
}

.header {
    margin-bottom: 90px;
    padding-top: 51px;
}

.top__left, .top__right {
    width: 47%;
}

.heading {
    color: #000;
    margin-bottom: 17px;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 37px;
    margin-right: 56px;
}

.start__button {
    border-width: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    padding: 1rem 2rem;
    margin-right: 72px;

    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.watch__button {
    border-width: 0;
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top__img {
    /* max-width: calc(100%); */
    max-width: 100%;
    text-align: right;
}

.top__content {
    margin-bottom: 259px;
}

.brand {
    width: 160px;
}