* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 1280px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.header {
    margin-top: 40px;
    /* margin-left: 375px; */
}

/* .logo {
    /* margin-top: 40px; */
    /* margin-right: 500px; */
/*} */

.menu {
    width: 47px;
    /* padding-top: 51px; */
}

.top__content {
    margin-left: 375px;
    margin-bottom: 162px;
}

.top__info {
    margin-top: 164px;
    margin-bottom: 162px;
}

.top__logos {
    margin-left: 345px;
    margin-top: 97px;
    margin-bottom: 96px;
}

.brand {
    margin-right: 48px;
    /* width: 160px; */
}